<h2>Materiais</h2>
<div id="table">
  <table>
    <thead>
      <tr>
        <th> Material</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody id="body">
      <% @materials.each do |material| %>
        <tr>
          <td><%= link_to material.name, material_path(material.id) %></td>
          <td><%= material.qty %></td>
          <td><%= link_to 'Adicionar ao carrinho', material_transactions_path(material), method: 'post' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>