<h2>Materials</h2>
<h3>Verificar link em célula de tabela no projeto "Data at Hand"</h3>
<div>
  <ul>
    <% @materials.each do |material| %>
      <li><%= link_to material.name, material_path(material.id) %></li>
    <% end %>
  </ul>
</div>